<!--footercomponent-->

<footer sticky-bottom>

    <div class="part1">
    
        <div class="bigbasket">
    
                      <h2>bigbasket</h2>
    
                               <a href=""><li>About Us</li></a><br>
    
                               <a href=""><li>In News</li></a><br>
    
                               <a href=""><li>Green bigbasket</li></a><br>
    
                               <a href=""><li>Privacy Policy</li></a><br>
    
                               <a href=""><li>Affiliate</li></a><br>
    
                               <a href=""><li>Terms and Conditions</li></a><br>
    
                               <a href=""><li>Careers At bigbasket</li></a><br>
    
                  </div>
    
                  <div class="help">
    
                       <h2>Help</h2>
    
                               <a href=""><li>FAQs</li></a><br>
    
                               <a href=""><li>Contact Us</li></a><br>
    
                               <a href=""><li>bb Wallet FAQs</li></a><br>
    
                               <a href=""><li>bb Wallet T&Cs </li></a><br>
    
                               <a href=""><li>Vendor Connect</li></a><br>
    
                  </div>
    
                  <div class="downloadApp">
    
                       <h2>Download Our App</h2>
    
                               <a href=""><img src="https://www.bigbasket.com/static/v2171/custPage/build/content/img/Google-App-store-icon.png"></a><br>
    
                               <a href=""><img src="https://www.bigbasket.com/static/v2171/custPage/build/content/img/Apple-App-store-icon.png"></a><br>
    
                  </div>
    
                  <div class="getSocial">
    
                       <h2>Get Social with Us</h2>
    
                               <a href="https://www.facebook.com/pages/Bigbasketcom/139311472851666"><span class="fa fa-facebook" style="font-size: 42px;margin-left: 4px;"></span></a>
    
                               <a href="https://in.pinterest.com/bigbasketcom/"><span class="fa fa-pinterest-square" style="font-size: 42px;margin-left: 4px;"></span></a>
    
                               <a href="https://twitter.com/Bigbasket_com"><span class="fa fa-twitter" style="font-size: 42px; margin-left: 4px;"></span></a>
    
                               <a href="https://www.instagram.com/bigbasketcom/"><span class="fa fa-instagram" style="font-size: 42px;margin-left: 4px;"></span></a><br>
    
                               <a href="https://badges.beyondsecurity.com/vulnerability-scanner-verification/www.bigbasket.com"><img src="https://www.beyondsecurity.com/verification-images/www.bigbasket.com/vulnerability-scanner-2.gif" style="margin-top: 10px;"></a>
    
                  </div>
    
    </div>
    
    <hr id="line">
    
    <div class="part2">
    
        <div class="container1">
    
                      <div class="sideHeading">
    
                                   <h2>POPULAR CATEGORIES:</h2>
    
                               </div>
    
                               <div class="fluidtext">
    
                                   <a href="">Washing Powders,</a>
    
                                             <a href="">Raw Rice,</a>
    
                                             <a href="">Sunflower Oils,</a>
    
                                             <a href="">Tea,</a>
    
                                             <a href="">Liquid Soaps & Bars,</a>
    
                                             <a href="">Health Drinks,</a>
    
                                             <a href="">Other Vegetables,</a>
    
                                             <a href="">Whole Spices,</a>
    
                                             <a href="">Toothpaste,</a>
    
                                             <a href="">Shampoo,</a>
    
                                             <a href="">Cut Fruits & Vegetables,</a>
    
                                             <a href="">Glucose,</a>
    
                                             <a href="">Marie & Milk Biscuits,</a>
    
                                             <a href="">Dishwash Bars,</a>
    
                                             <a href="">Namkeen,</a>
    
                                             <a href="">Chocolate</a>
    
                               </div>
    
                  </div>
    
                  
                  <div class="container2">
    
                      <div class="sideHeading">
    
                                   <h2 >POPULAR BRANDS:</h2>
    
                               </div>
    
                               <div class="fluidtext" >
    
                                   <a href="">Fresho,</a>
    
                                             <a href="">bb Royal,</a>
    
                                             <a href="">Aashirwaad,</a>
    
                                             <a href="">Surf Excel,</a>
    
                                             <a href="">24 Mantra,</a>
    
                                             <a href="">Brooke Bond,</a>
    
                                             <a href="">Brittania,</a>
    
                                             <a href="">Cadbury,</a>
    
                                             <a href="">Harpic,</a>
    
                                             <a href="">Haldirams,</a>
    
                                             <a href="">Colgate,</a>
    
                                             <a href="">Vim,</a>
    
                                             <a href="">Horlicks,</a>
    
                                             <a href="">Dabur,</a>
    
                                             <a href="">Dove,</a>
    
                                             <a href="">Fresho Meats,</a>
    
                                             <a href="">Parle,</a>
    
                                             <a href="">Whishper,</a>
    
                                             <a href="">Nivea,</a>
    
                                             <a href="">Tide</a>
    
                               </div>
    
                  </div>
    
                  <div class="container3">
    
                      <div class="sideHeading">
    
                                   <h2 style="width: 140px;">CITIES WE SERVE:</h2>
    
                               </div>
    
                               <div class="fluidText2">
    
                                   <li>Bangalore, Hyderabad, Mumbai, Pune, Chennai, Delhi, Mysore, Coimbatore, Vijayawada-Guntur, Kolkata, Ahmedabad-Gandhinagar, Lucknow-Kanpur, Gurgaon, Vadodara, Visakhapatnam, Surat, Nagpur, Patna, Indore, Chandigarh Tricity, Jaipur, Bhopal, Noida-Ghaziabad, Kochi,</li>
    
                               </div>
    
                  </div>
    
                  <div class="container4">
    
                      <div class="sideHeading">
    
                                   <h2 style="margin-top: 87px;width: 158px;">PAYMENT OPTIONS:</h2>
    
                               </div>
    
                               <div class="fluidText2" style="margin-top: 87px;">
    
                                   <li>Cash on Delivery, Paytm, Rupay, Master Card, Pay U Money, Mobikwick, Visa</li>
    
                               </div>
    
                  </div>
    
    </div>
    
     
    
    </footer>
    <!---<script src="https://kit.fontawesome.com/0db30d4a30.js"></script>-->